/* App.css */
/* App.css */
.navbar {
  background-color: #0072c6; /* AT&T blue color */
  padding: 20px; /* Adjust padding to expand the background color */
}


.navbar-brand img {
  width: 84px; /* Adjust the width of the logo as needed */
}
